body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: rgb(224, 18, 63);
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
    top: 0%;
    left: 0%;
}

#navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

ul {
    padding-top: 15px;
}

li {
    color: rgb(255, 255, 255);
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
}

li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 36px;
}

li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 113, 150);
}

#welcome-section {
    background-color: rgb(10, 10, 10);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}

#welcome-section h1 {

    font-weight: 600;
    font-size: 70px;
    text-align: center;
    font-family: Poppins;
    margin-bottom: 0;
    color: #fff;
}

#welcome-section .mimic {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 50%;
}

#welcome-section p {
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    font-family: Poppins;
    font-style: italic;
    color: rgb(224, 18, 63);
    margin: 0 auto;
}

/* 2nd section */

#projects h2 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    font-family: Poppins;
    color: #fff;
    margin-bottom: 10px;
}

#projects {
    background-color: rgb(34, 113, 150);
}

.project-title {
    margin: 0 auto 50px;
    padding-top: 50px;
    width: 40%;
    border-bottom: solid 3px #fff;
}

.project-tile {
    display: flex;
    justify-content: center;
}

figure {
    border-radius: 5px;
    background-color: rgb(10, 10, 10);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    box-shadow: rgb(10, 10, 10);
    height: 467px;
    width: 400px;
    margin: 0;
}

.project-image {
    height: 400px;
    width: 400px;
}

.image-title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 15px;
}

.box {
    padding: 25px;
}

.box a {
    text-decoration: none;
    color: #fff;
    width: 400px;
    display: block;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 20px 0 115px;
}

.button a {
    font-family: Poppins;
    font-size: 20px;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: #fff;
    padding: 15px 35px;
    border-radius: 3px;
    text-decoration: none;
    animation-name: backgroundBack;
    animation-duration: 0.5s;
}

.button a:hover {
    background: rgb(224, 18, 63);
    cursor: pointer;
    animation-name: background;
    animation-duration: 0.5s;
}

@keyframes background {
    from {
        background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    }

    to {
        background: rgb(224, 18, 63);
    }
}

@keyframes backgroundBack {
    from {
        background: rgb(224, 18, 63);
    }

    to {
        background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    }
}

.button a i.fa-chevron-right {
    padding-left: 0;
    padding-right: 3px;
    animation-name: rightBack;
    animation-duration: 1s;
}

.button a:hover i.fa-chevron-right {
    padding-left: 3px;
    padding-right: 0;
    animation-name: right;
    animation-duration: 1s;
}

@keyframes right {
    from {
        padding-left: 0;
        padding-right: 3px;
    }

    to {
        padding-left: 3px;
        padding-right: 0;
    }
}

@keyframes rightBack {
    from {
        padding-left: 3px;
        padding-right: 0;
    }

    to {
        padding-left: 0;
        padding-right: 3px;
    }
}

/* 3rd section */
#link {
    width: 100%;
    height: 880px;
    justify-content: center;
    background-color: rgb(47, 57, 66);
}

#link h1 {
    font-weight: 500;
    font-size: 60px;
    padding-top: 220px;
    text-align: center;
    font-family: Poppins;
    margin-bottom: 0;
    color: #fff;
    letter-spacing: 2px;
    margin: 0 auto;
}

#link p {
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    font-family: Poppins;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 50px;
}

#question {
    font-style: italic;
}

#link a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;

}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0 auto;
    padding: 45px 50px;
}

span.tag {
    color: rgb(196, 93, 24);
    opacity: 0;
}

.box a span.tag {
    animation-name: opacityBack;
    animation-duration: 1s;
}

.box a:hover span.tag {
    opacity: 1;
}

.box a:hover span.tag {
    animation-name: opacity;
    animation-duration: 1s;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacityBack {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

i.fa-free-code-camp {
    padding: 5px;
}

.with-icon {
    border-bottom: 4px solid rgb(224, 18, 63);
    width: 100%;
    text-align: center;
    padding-bottom: 280px;

}

.with-icon a {
    margin: 20px;
    font-size: 30px;
    transition: ease-in-out 0.4s;
}

.with-icon a:hover {
    padding-bottom: 0;
    transform: translateY(8px);
    transition: ease-in-out 0.4s;
}