* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 3px solid rgb(156, 158, 158);
}

#navbar th {
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  border-bottom: 1px solid #000;
}

table {
  box-sizing: content-box;
}

table td {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 400;
  color: rgb(70, 71, 71);
  border-bottom: 1px solid #000;
  padding: 0;
  box-sizing: content-box;
}

table td a {
  padding: 12px;
  width: 100%;
  text-decoration: none;
  color: rgb(70, 71, 71);
}

table td a:hover {
  background-color: rgb(231, 233, 233);
}

table td a:visited {
  color: rgb(70, 71, 71);
}

#main-doc {
  margin-left: 330px;
  margin-bottom: 150px;
  padding: 25px;
}

.main-section header {
  font-size: 30px;
  font-weight: 400;
  padding-left: 10px;
}

p {
  font-size: 15px;
  line-height: 26px;
  color: rgb(70, 71, 71);
}

.formula {
  font-size: 15px;
  line-height: 30px;
  color: rgb(70, 71, 71);
  background-color: rgb(231, 233, 233);
  padding: 15px;
  border-radius: 4px;
}

ul li {
  font-size: 15px;
  line-height: 26px;
  color: rgb(70, 71, 71);
}